layout {

    focus-ring {
        active-color   "#81d997"
        inactive-color "#111411"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#81d997"
        inactive-color "#111411"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#81d997"
        inactive-color "#005227"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#81d99780"
    }
}

recent-windows {
    highlight {
        active-color "#81d997"
        urgent-color "#ffb4ab"
    }
}
